.custom-card {
    width: 18rem;
    background-color: #85BDA6;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-card .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .custom-card .card-text {
    font-size: 1.2rem;
  }
  
  .custom-card .air-quality {
    font-weight: bold;
    color: #f8f9fa;
  }
  