body {
  background-color: #3E885B; 
  padding-top: 56px; 
  margin: 0; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.buscador{
  padding: 10px;
  border: 2px solid #85BDA6;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}
.tarjeta{
  background-color: #C0D7BB;
  color: #C0D7BB;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-card .card-title {
  font-size: 1.5rem;
}

.custom-card .card-text {
  font-size: 1.2rem;
}
.custom-navbar {
  background-color: #0B3954; 
  color: white;
  padding: 0.5rem 1rem;
  position: fixed; 
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: white;
}

.custom-navbar .nav-link.active {
  font-weight: bold;
}


body {
  padding-top: 56px; 
}

.container {
  max-width: 1200px;
}

h1 {
  color: #2c3e50;
}

.custom-footer {
  background-color: #0B3954; 
  color: white;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.footer p {
  margin: 0;
}


/* */


/* App.css */
/* App.css */

.App {
  text-align: center;
  padding: 50px;
  position: relative;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  z-index: 10; /* Asegura que el botón esté por encima del overlay */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Oscurece toda la pantalla */
  z-index: 9;
}
